*{
    margin:0;
    padding:0;
}
.navbar{
    background-color: black;
    display: flex;
    height:2.5rem;
    position:fixed;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:azure;
    margin-left:2rem;
    width:30rem;
}
.items li{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    font-size: 1rem;
    color:azure;
}
a{
    text-decoration: none;
}
.search-bar{
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
#search{
    width:25rem;
    height:1.7rem;
}
.userDetails{
    width:16rem;
    display: flex;
    align-items: center;
}
#user-info i{
    color:azure;
    padding-left: 7rem;
    font-size: 1.4rem;
}
.search-bar i{
    color:azure;
    margin-right: 3.1rem;
}
#logo{
    color:azure;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
    margin-left: 0.5rem;
    line-height: 2.2rem;
}
.cart{
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    position: relative;
    margin-top: 5px;
}
.cart #cart-add{
    color:azure;
    font-size: 1.2rem;
}
.product-slides{
    display: flex;
    align-items: center;
    height:25rem;
    gap:17rem;
}
.fade{
    display: none;
}
.mySlides{
    display: flex;
    margin-top: 4rem;
}

.display-image{
    height:300px;
    width:300px;
}
.text-write{
    margin-left: 1rem;
    width: 35rem;
}
.slides{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25rem;
}


.main-head{
    color:black;
    opacity: 0.8;
}

.cloth-section{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap:3rem;
    padding: 0 1rem 0 1rem;
    flex-wrap: wrap;
}
.item{
    height:25rem;
    width:16rem;
    overflow: hidden;
    box-shadow:5px 5px 5px grey;
}
.product{
    height:15rem;
    width:16rem;
}

/*Description of items*/
.disc{
    margin-left: 1.2rem;
    margin-top: 2rem;
    color:blue;
    font-size: 1.2rem;
}

.desc2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin-top: 2rem;
}

.price{
    color:blue;
    font-size: 1.4rem;
}
.select-item{
    color:black;
    font-size: 1.3rem;
}

.item-count{
    color:azure;
    background-color: red;
    width:1rem;
    height:1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top:-2px;
}